<!DOCTYPE html>
<html>
  <head>
    <title>Rps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Welcome to Rock, Paper, Scissors!</h1>
    <ul>
      <li>
        <a href="/throw/rock">Throw Rock</a>
      </li>

      <li>
        <a href="/throw/paper">Throw Paper</a>
      </li>

      <li>
        <a href="/throw/scissors">Throw Scissors</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
